<% include ./partials/header.ejs %>

<main class="container">
    <h1>List of registered users</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Username</th>
        </tr>

<% for (var i = 0; i < accounts.length; i++) { %>
        <tr>
            <td><%=accounts[i]._id %></td>
            <td><%=accounts[i].username %></td>
        </tr>
<% } %>

    </table>
</main>
<% include ./partials/footer.ejs %>